.btn {
    color:white;
    border-width:1px;
    border-radius: 3px;
    position: relative;
    font-weight: 400;
    padding: 12px 28px;
    margin:0 5px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
}
.btn:after {
    content:'';
    background:rgba(255,255,255,0.2);
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:100%;
    transition: 0.1s all ease-in-out;
    display: block;
}
.btn:hover:after {
    right:0%;
}
.btn.btn-orange {
    background: #ff990f;
}
.btn.btn-green {
    background: #8BC699;
    color: #FFFFFF;
}
.btn.btn-white {
    background: #ffffff;
    color:rgb(39, 91, 138);
    border-color: #E9EDF1;
}
.btn.btn-no-shadow{
    box-shadow: none;
}
.btn.btn-clear {
    border-color: white;
}

